<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/indenx.css"/>
		<link rel="stylesheet" type="text/css" href="css/footer.css"/>
		<script src="lib/jquery/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="lib/arttemplate/template-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/floor.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/banner.js" type="text/javascript" charset="utf-8"></script>
		
		
	</head>
	<body>
			<div class="header">
				<ul>
					<li><a href="html/Landing.html">登录</a></li>
					<li><a href="html/register.html">注册</a></li>
				</ul>
				<ul>
					<li><a href="####">手机分割乐</a></li>
					<li><a href="####">卖家入驻</a></li>
					<li><a href="####">梦创俱乐部</a></li>
					<li><a href="####">商家服务</a></li>
					<li><a href="####">帮助中心</a></li>
					<li><a href="####">分期介绍</a></li>
					<li><a href="javascript:;">举报有奖</a></li>
				</ul>
			</div>
			
			<div class="sousuo">
				<h1><a href=""><span>分期乐</span></a></h1>
				<img src="img/indenx/maotouying.jpg" id="mty"/>
				<form>
					<input type="text" id="sousuo" placeholder="输入商品关键字" />
					<input type="button" id="but" value="" />
				</form>
			</div>
			
			<div class="nav">
				<div class="classify">
					<p id="one">商品分类</p>
					<ul>
						<li><span></span><a href="javascript:;">手机通讯</a></li>
						<li><span></span><a href="javascript:;">腕表配饰</a></li>
						<li><span></span><a href="javascript:;">电脑办公</a></li>
						<li><span></span><a href="javascript:;">相机单反</a></li>
						<li><span></span><a href="javascript:;">平板数码</a></li>
						<li><span></span><a href="javascript:;">户外运动</a></li>
						<li><span></span><a href="javascript:;">服饰鞋靴</a></li>
						<li><span></span><a href="javascript:;">箱包潮品</a></li>
						<li><span></span><a href="javascript:;">美妆护肤</a></li>
						<li><span></span><a href="javascript:;">家电家具</a></li>
						<li><span></span><a href="javascript:;">充值游戏</a></li>
						<li><span></span><a href="javascript:;">票务旅行</a></li>
						<li><span></span><a href="javascript:;">分期学车</a></li>
						<li><span></span><a href="javascript:;">教育培训</a></li>	
					</ul>
				</div>
				<ul class="navs">
					<li><a href="javascript:;">首页</a></li>
					<li><a href="javascript:;">信用消费</a></li>
					<li><a href="javascript:;">限时秒杀</a></li>
					<li><a href="javascript:;">新人专享</a></li>
				</ul>
				<span class="right"><a href="javascript:;">我要还款</a></span>
			</div>
		
			<div id="banner">
				<ul>
					<li><a href="####"><img src="img/indenx/lunbo/2Q==.jpg"/></a></li>
					<li><a href="####"><img src="img/indenx/lunbo/Z.jpg"/></a></li>
					<li><a href="####"><img src="img/indenx/lunbo/sdfs.gif"/></a></li>
					<img src="img/indenx/lunbo/detail1.jpg"/>
				</ul>
				<!--<div id="prev">&lt;</div>
				<div id="next">&gt;</div>-->
				<div id="pages"></div>
				<div class="right">
					<a href="####"><img src="img/indenx/lunbo/center.jpg"/></a>
				</div>
			</div>
		
		
			<div class="box">
				<img src="img/indenx/wy82.png" id="img1"/>
				<img src="img/indenx/wS92.png" id="img2"/>
				<table rules="all">
					<tr>
						<td><a href="####"><img src="img/indenx/wic71.jpg"/></a></td>
						<td><a href="####"><img src="img/indenx/w23.jpg"/></a></td>
						<td><a href="####"><img src="img/indenx/w8448.png"/></a></td>						
					</tr>
					<tr>
						<td><a href="####"><img src="img/indenx/w216.png"/></a></td>
						<td><a href="####"><img src="img/indenx/wy3.jpg"/></a></td>
						<td><a href="####"><img src="img/indenx/wy5.png"/></a></td>						
					</tr>
				</table>
			</div>
			
<!--	模板 ID 最好只有一个！！！！！！！！！！！！这里只用了一个 ID ，CSS没改*************************		-->
			<div class="tops">
				<div class="xsmx"><b></b><span>限时秒杀</span><em>每日上新限量秒杀</em><a href="">更多</a></div>
				<div class="Template"></div>
			</div>
			<div class="one2"></div>
			<div class="two louti"></div>
			<div class="three louti"></div>
			<div class="four louti"></div>
		
		<div class="boxs">
			<ul>
				<li>
					<b></b>
					<p>卓越品质</p>
					<span>100%正品行货</span>
				</li>
				<li>
					<b></b>
					<p>安全放心</p>
					<span>先验货在付款</span>
				</li>
				<li>
					<b></b>
					<p>手续简单</p>
					<span>凭学生证即可办理</span>
				</li>
				<li>
					<b></b>
					<p>轻松还款</p>
					<span>逐不出户在线还款</span>
				</li>
				<li>
					<b></b>
					<p>独家提供</p>
					<span>提前还款免费服务</span>
				</li>
			</ul>
		</div>
		
		<div class="footer">
			<a href="" id="img1"><img src="./img/Landing/footer_09.jpg"/></a>
			<a href="" id="img2"><img src="./img/Landing/footer_11.jpg"/></a>
			<ul>
				<li><a href="">关于我们</a></li>
				<li><a href="">卖家入驻</a></li>
				<li><a href="">我要举报</a></li>
				<li><a href="">加入我们</a></li>
				<li><a href="">上门自提</a>   <a href="">粤ICP备14041530号-1</a>   <a href="">增值电信业务经营许可证B2-20140262</a></li>
				<p>Copyright © 2013-2017 Fenqile All Rights Reserved 深圳市分期乐网络科技有限公司 版权所有</p>
			</ul>
			<div class="kefu">
				<p><span>客服电话 ：</span><b>400-005-9151</b></p>
				<img src="./img/Landing/footer_06.jpg"/>
			</div>
			
		</div>
		
		<!--楼层效果-->
		<ul id="floor">
			<li><img src="img/longchen/kenay_03.gif"/><span>手机</span></li>
			<li><img src="img/longchen/kenay_05.gif"/><span>电脑</span></li>
			<li><img src="img/longchen/LC_03.gif"/><span>相机</span></li>
			<li><img src="img/longchen/LC_05.gif"/><span>数码</span></li>
			<li><img src="img/longchen/LC_07.gif"/><span>运动</span></li>
			<li><img src="img/longchen/LC_13.gif"/><span>钟表</span></li>
			<li><img src="img/longchen/LC_11.gif"/><span>美妆</span></li>
			<li><img src="img/longchen/LC_09.gif"/><span>奢品</span></li>
			<li><img src="img/longchen/LC_15.gif"/><span>游戏</span></li>
			<li><img src="img/longchen/LC_27.gif"/><span>会员</span></li>
			<li><img src="img/longchen/LC_17.gif"/><span>娱乐</span></li>
			<li><img src="img/longchen/LC_23.gif"/><span>驾校</span></li>
			<li><img src="img/longchen/LC_25.gif"/><span>教育</span></li>
		</ul>
		
<!--模板******************-->
		<script type="text/html" id="index_html">
			<% for (var i = 0; i<list.length; i++) {
				var prod = list[i];
			%>
			<ul class="ul">
				<a href="####"><img src="<%= prod.imgSrc %>"/></a>
				<a href="####"><%= prod.title %></a>
				<a href="####"><%= prod.cost %></a>
				<li><a href="">
					<span><%= prod.left %></span>
					<b><%= prod.right %></b>
				</a>
				</li>
			</ul>		
			<% } %>
			</script>
			
			<script type="text/html" id="index_html2">
				<% for (var i = 0; i<list.length; i++) {
				var prod = list[i];
				%>
				<div>
					<div class="top2"><b><%= prod.a1 %></b><span><%= prod.a2 %></span><em><%= prod.a3 %></em></div>
					<div id="left">
						<a href="####"><img src="<%= prod.imgsrc1 %>"/></a>
						<a href="####"><img src="<%= prod.imgsrc2 %>"/></a>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc4 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
					</div>
					<div class="right">
						<ul>
							<li>
								<span><%= prod.timer %></span>
								<a href="####"><img src="<%= prod.imgsrc5 %>"/></a>
							</li>
							<li>
								<a href="####"><%= prod.txt %></a>
								<p><%= prod.costs %></p>
								<a href="####"><%= prod.rush %></a>
							</li>
						</ul>
						<ul>
							<li>
								<span><%= prod.timer %></span>
								<a href="####"><img src="<%= prod.imgsrc5 %>"/></a>
							</li>
							<li>
								<a href="####"><%= prod.txt %></a>
								<p><%= prod.costs %></p>
								<a href="####"><%= prod.rush %></a>
							</li>
						</ul>
						
					</div>
				</div>
				<% } %>
			</script>
			
			<script type="text/html" id="index_html3">
				<% for (var i = 0; i<list.length; i++) {
				var prod = list[i];
				%>
				<div class="top2">
					<b><%= prod.a1 %></b>
					<span><%= prod.a2 %></span>
					<ul>
						<li><a href="####"><%= prod.li1 %></a></li>
						<li><a href="####"><%= prod.li2 %></a></li>
						<li><a href="####"><%= prod.li3 %></a></li>
						<li><a href="####"><%= prod.li4 %></a></li>
					</ul>
				</div>
					<div id="left">
						<a href="####"><img src="<%= prod.imgsrc1 %>"/></a>
						<a href="####"><img src="<%= prod.imgsrc2 %>"/></a>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
					</div>
					<div class="right">
						<ul>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
						</ul>
						<ul>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
							<img src="<%= prod.tupian %>"/>
						</ul>
					</div>
					<% } %>
			</script>
			
			<script type="text/html" id="index_html4">
				<% for (var i = 0; i<list.length; i++) {
				var prod = list[i];
				%>
				<div class="top2">
					<b><%= prod.a1 %></b>
					<span><%= prod.a2 %></span>
					<ul>
						<li><a href="####"><%= prod.li1 %></a></li>
						<li><a href="####"><%= prod.li2 %></a></li>
						<li><a href="####"><%= prod.li3 %></a></li>
						<li><a href="####"><%= prod.li4 %></a></li>
					</ul>
				</div>
					<div id="left">
						<a href="####"><img src="<%= prod.imgsrc1 %>"/></a>
						<a href="####"><img src="<%= prod.imgsrc2 %>"/></a>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
					</div>
					<div class="right">
						<ul>
							<li><a href="####"><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
						<ul>
							<li><a href=""><img src="<%= prod.imgsrc3 %>"/></a></li>
							<a href="####"><%= prod.txt2 %></a>
							<span><%= prod.shoujia %></span>
							<a href="####"><%= prod.ljqg %></a>
						</ul>
					</div>
					<% } %>
			</script>
			
			<script type="text/html" id="index_html5">
				<div class="top2">
					<b></b>
					<span>猜你喜欢</span>
					<a href="####">换一换</a>
				</div>
				<% for (var i = 0; i<list.length; i++) {
				var prod = list[i];
				%>
				<ul class="ul">
					<a href="####"><img src="<%= prod.imgSrc %>"/></a>
					<a href="####"><%= prod.title %></a>
					<span href=""><%= prod.cost %></span>
					<a href="####"><%= prod.ljqg %></a>
					</li>
				</ul>
				<% } %>
			</script>
			<script>
				$(function(){
					$.getJSON("mock/lists.json",function(responseData){
					var data = {
						list : responseData
					};
					var html = template("index_html", data);
					$(".Template").append(html);
					})
				});
				
				$(function(){
					$.getJSON("mock/new.json",function(responseData){
					var data = {
						list : responseData
					};
					var html = template("index_html2", data);
					$(".one2").append(html);
					})
				});
				
				$(function(){
					$.getJSON("mock/num.json",function(responseData){
					var data = {
						list : responseData
					};
					var html = template("index_html3", data);
					$(".two").append(html);
					})
				});
				
				$(function(){
					$.getJSON("mock/third.json",function(responseData){
					var data = {
						list : responseData
					};
					var html = template("index_html4", data);
					$(".three").append(html);
					})
				});
				
				$(function(){
					$.getJSON("mock/like.json",function(responseData){
					var data = {
						list : responseData
					};
					var html = template("index_html5", data);
					$(".four").append(html);
					})
				});
			</script>
	</body>	 			
</html>
